name: E2E Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Update npm
        run: npm install -g npm@^11.6.2

      - name: Install dependencies
        run: npm ci

      - name: Run e2e tests
        run: npm run e2e-test
